@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');


body{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    bottom: 0;
}

#universe{
    width:100%;
    display:flex;
    flex-direction: column;
    min-width:320px;
    overflow: hidden;
    padding-top: 80px;
}

.navSurroundings{

    /*It is persistently ignoring Overflow command
     and keeps on making the lower scroll bar appear '^' */


    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    /* the following box-shadow is copied */
    box-shadow: 0px 4px 6px 0 #8f8f8f3a;
    width:100%;
    overflow: hidden !important;
    height: 65px;
}

.navSystem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* the following dimensions for this class are copied except for width */
    width: 76%;
    height: 78px;
    margin-left: 0.9em;
    margin-right: 0.9em;
    overflow: hidden;

}

.navLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    min-width: 48px;
}

#imgLogo{
    width: 48px;
    height: 48px;
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

.navList{
    font-family: 'Bebas Neue';
    font-size:1.4rem;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #261446;
}

.mainSurroundings{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr; */
    align-items: center;

    overflow: hidden !important;
}

.mainPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: 100%;
    background-image: url('https://channeli.in//static/maintainer_site/background.svg');
    background-size: cover;
    background-position: center;
    /* padding-top: 80px; */
    overflow: hidden!important;

}

.mainPageSystem{
    width: 76%;
    height: 100%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.lcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 70vh; */
}

.mainPageHeading{
    font-family: 'Playfair Display', serif;
    font-size: 4.0em;
    color: #f8d16c;
    display: inline;
    line-height: 1.4;
    /*I have copied this below background image details: */
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0.2) 80%,
        transparent 80%,
        transparent 100%
      );    

      /*I have copied the following because I couldn't do it on my own:*/
      margin: calc(2rem -0.14285714em) 0 1rem;

}

.mainPageCaption{
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 50px;
    padding-right: 30px;
}

.rcolumn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.compImage{
    width: 70%;
    height: 35%;
}

.projSurroundings{
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden!important;

}

.System{
    width: 76%;
    height: 100%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Heading{
    font-size: 32px;
    font-family: 'Playfair Display';
    padding: 0em 0.8em 0.3em 0.8em;
    /*bottom border is copied*/
    border-bottom: 0.2em #f8d16c solid;
}

.deskImage{
    height: 175px;
    width: 300px;
}

.boxContainer{
    width: 76%;
    height: 100%;
    margin-left: 0.9em;
    margin-right: 0.9em;
}

.row3{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 25% 25% 25%;

    /* display: flex;
    flex-direction: row; */
    overflow:hidden;
}

.box{
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 14px 14px 14px 14px;
    /* height: 98.6px;
    width: 253.75px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
}

.num{
    /* line-height: 1.428em; */
    /* overflow: hidden; */
    min-width: 100px;
    max-height: 80px;
    left: 0;
    height: 100%;
    font-size: 15em;
    color: rgba(248, 209, 108, 0.5);
    font-family: 'Bebas Neue';
    background-color: transparent;
}

.details{
    margin-top: 14px;
    padding: 14px 14px 14px 14px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    text-align: end;
}

.projHead{
    line-height: 1.4285em;
    display: inline;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: black;
    font-weight:bolder;
    background-color: transparent;

}

.projCap{
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    color: #999999;
    background-color: transparent;
    display: inline;

}

.row4{
    margin: 1rem 0 0 0;
    padding: 1rem 1rem 1rem 1rem;
}

.viewMore{
    display: inline-block;
    padding: 0.5em 1em;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    border:2px solid #263146;
    color: #263146;
    cursor: pointer;

}

.viewMore:hover{
    display: inline-block;
    padding: 0.5em 1em;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    border:2px solid #263146;
    color: #263146;
    background-color:#f8d06c;
}

.blogSurroundings{
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}

.blogPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden!important;
    width: 100%;
}

.blogHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blogBody{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.blogImgBox{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blogImage{
    width:300px;
    height: 50%;
}

.blogDetails{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Helvetica,'Lato' ,sans-serif;
    margin: 0 0 1em 0;
    font-size: 14px;
    color: rgba(0,0,0,.87);
}

.readBox{
    margin: 1rem 0 0 0;
    padding: 1rem 1rem 1rem 1rem;
}

.read{
    display: inline-block;
    padding: 0.5em 1em;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    border:2px solid #263146;
    color: #263146;
    cursor: pointer;
    text-decoration: none;

}

.read:hover{
    display: inline-block;
    padding: 0.5em 1em;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    border:2px solid #263146;
    color: #263146;
    background-color:#f8d06c;
    text-decoration: none;

}

.contactSurroundings{
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #293b52;
}

.contactPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden!important;

}

.columns{
    /* display: flex;
    flex-direction: row-reverse; */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
}

.Contact{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.About{
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.topic{
    font-size: 1.5rem;
    /* line-height: 2; */
    font-family: 'Bebas Neue';
    color: white;
    padding-top: 28px;
    height: 60px;
}

.content{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.linkBox{
    margin: 0 0 1em;
    line-height: 1.4285em;
}

.contactImg{
    width: 1.18em;
    height: 1em;
    display: inline-block;
    margin: 0 0.25em 0 0;
    color: white;
    opacity: 100%;
}

.contactText{
    margin: 0 0 0 12px;
    color: #f8d16c;
}

.CreditBox{
    /* display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    padding: 0.5em 0em 0.5em 0em;
    /* left: 0;
    right: 0; */
    width: 100%;
    background-color: #263146; 
    overflow: hidden;
}

.Credits{
    font-family: sans-serif;
    color: white;
    line-height: 1.4em;
    margin-left: 1em!important;
    margin-right: 1em!important;
    /* align-items: center; */
    overflow: hidden;

}