@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* @media only screen and (max-width:992px) and (min-width:768px){
    .desktopView{
        width: 42vw;
    }
    .halfDesktopView{

    }
} */

/* html{
    width: 100vw;
    height: 100vh;
} */

body{
    /* height:100vh;
    width: 100vw; */
    margin: 0px 0px 0px 0px;
}

#universe{
    /* height:100vh;
    width: 100vw; */
    margin: 0px 0px 0px 0px;
    display:flex;
    flex-direction: column;
    min-width:320px;
}

.container{
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.navSurroundings{
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white; 
    top: 0;
    left: 0;
    right: 0;
    /* the following box-shadow is copied */
    box-shadow: 0px 4px 6px 0 #8f8f8f3a;
    overflow:hidden;
    height: 65px;

}

.navSystem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* the following dimensions for this class are copied except for width */
    width: 76vw;
    height: 78px;
    margin-left: 0.9em;
    margin-right: 0.9em;
    overflow:hidden;
}

.navLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    min-width: 48px;
}

#imgLogo{
    width: 48px;
    height: 48px;
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

.navList{
    font-family: 'Bebas Neue';
    font-size:1.4rem;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #261446;
}

.surroundings{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5rem;
}

.system{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 76vw;
}

/* .desktopView{
    width: 76vw;
    display: flex;
    flex-direction: row;
} */

/* other views */

.cards{
    display: flex;
    flex-direction: column;
    
    background: white;
    margin: 0.5em 0.5em;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.cards:hover{
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0.5em 0.5em;
    border-radius: .28571429rem;
    box-shadow: 0 1px 4px 0px #d4d4d5,0 0 0 2px #d4d4d5;
}

.cardPic{
    justify-content: center;
    align-items: center;
    height:60%;
}

img{
    width: 100%;
    max-width:100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: .28571429rem .28571429rem 0 0;

}

.captionBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.63);
    font-weight: bolder;
    border-top: rgba(0, 0, 0, 0.63);
}

.cardCaption{
    padding: 1em 1em;
    color: rgba(0,0,0,.85);
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    font-family: 'Lato', sans-serif;
}

.cardCredits{
    font-family:'Lato', sans-serif;
    line-height: 1.4285em;
    font-size: 1em;
    padding: 1em 1em;
    /*Border specifications are copied.*/
    border-top:  1px solid rgba(0,0,0,.05) ;
    border-width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    max-width: 100%;
    position: static;
    max-height: 42px;
}

.div{
    font-family:'Lato';
    line-height: 1.4285em;
    font-size: 1em;
    color: rgba(0,0,0,.4);
}

.mediumBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

#mediumLogo{
    width: 1.18em;
    height: 1.18em;
}

#mediumLogo:hover{
    background-color: #f8d16c;
    width: 1.18em;
    height: 1.18em;
}


.CreditBox{
    /* display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    padding: 0.5em 0em 0.5em 0em;
    /* left: 0;
    right: 0; */
    width: 100vw;
    background-color: #263146; 
    overflow:hidden;
}

.creditsSystem{
    width:76%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    
}

.Credits{
    font-family: sans-serif;
    color: white;
    line-height: 1.4em;
    margin-left: 1em!important;
    margin-right: 1em!important;
    /* align-items: center; */
    overflow:hidden;
}